.network {
  position: relative;
  @include grid__one-column;
  justify-items: center;
  padding-top: 5rem;

  &:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background: $color-section-background;
    justify-self: center;
    z-index: -1;
  }
  &__global-image {
    max-width: 80vw;
    margin: 16rem auto 11rem;
  }
}
