.testimonial {
  display: grid;
  &__list {
    @include flex(center, stretch, 4rem);
    flex: 1;
  }
  &__item {
    @include flex-column-direction(flex-start, center, 3rem);
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid $color-grey;
    background: #fff;
    max-width: 35rem;
    margin-top: 6rem;
    transition: 0.3s;
    &:hover {
      border-color: $color-main;
    }
    .section__description {
      width: 30rem;
    }
    .item__info {
      width: 100%;
      @include flex(flex-start, center, 2rem);
      h3 {
        font-weight: 500;
      }
      h5 {
        font-weight: 300;
      }
      .item__rating {
        @include flex-gap(1rem);
        margin-left: auto;
      }
    }
  }
}
